.header {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 75px;
}

.header__title {
  flex-grow: 2;
  color: wheat;
  margin: 0;
  margin-left: 15px;
}

.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard {
  flex-direction: column;
  width: 810px;
}
