.header {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 75px;
}

.header__title {
  flex-grow: 2;
  color: wheat;
  margin: 0;
  margin-left: 15px;
}

.game-board,
.board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  flex-wrap: wrap;
  width: 810px;
}

@media(max-width: 820px) {
  .board {
    width: 405px;
  }
}
